/* Sections: https://html.spec.whatwg.org/#sections */

:root{
  block-size:100vh;
  box-sizing:border-box;
  font-size:100%;
  scroll-behavior:smooth;
  text-size-adjust:100%; /* Prevent font size adjustment on orientation change in iOS. */
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

*, *::after, *::before{
  box-sizing:inherit;
}

body{
  background:var(--white);
  color:var(--black);
  display:grid;
  font:1rem/1.5 sans-serif;
  grid-template-columns:1fr minmax(20rem, 90ch) 1fr;
  margin:0;
  min-height:100vh;
}

@media print {
  body {
    background: none;
  }
}

/* add headings */