/* Forms https://html.spec.whatwg.org/#forms */

/*
 * 1. Show overflow in IE and Edge
 * 2. Reset the margin in Firefox and Safari
 * 3. Reset font properties to `inherit`
 */
 button, input, select, textarea {
  color: inherit; /* 3 */
  font: inherit; /* 3 */
  margin: 0; /* 2 */
  overflow: visible; /* 1 */
}

/*
 * 1. Correct inability to style clickable types in Safari
 * 2. Reset appearance
 */
button, [type=button], [type=submit] {
  -webkit-appearance: button; /* 1 */
  background: none;
  border: 0; /* 2 */
  padding: 0; /* 2 */
}
